.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    -webkit-flex-direction: row;
    flex-direction: row;
}

.flex-item {
    margin: 10px;
}

.resume-section{
    width: 70%;
    height: 100%;
}

.request-btn{
    float: right;
}

.options{
    float: right;
}

/*.btn.btn-primary{
    padding-right: 10px;
}*/

.comment-section{
    width: 30%;
}

input[type="file"] {
    display: none;
}

label.file-name{
    font-size:10px;
    margin-right:100px;
    margin-left:5px;
}

.basic-text, label.label.label-default{
    margin-right:5px;
    font-size: 10px;
}

.request-review{
    float: right;
}

.submission{
    padding-bottom: 10px;
}
