.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    -webkit-flex-direction: row;
    flex-direction: row;
}

.flex-item {
    margin: 10px;
}

.resume-section{
    width: 70%;
    height: 100%;
}

.options{
    float: right;
}

/*.btn.btn-primary{
    padding-right: 10px;
}*/

.comment-section{
    width: 30%;
}
