.panel-default {
    margin: auto;
    width: 40%;
}

.Jumbotron {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
    padding: 30px;
    background-color: #eee;
}
